/*start variables*/
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --main-duration: 0.5s;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/*end variables*/
/*start global rules*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*end global rules*/
/* start components Section */
.section-title {
  text-align: center;
  margin: -30px 0 0;
}
.section-title h2 {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.section-title p {
  margin-top: -20px;
  font-size: 20px;
  color: #797979;
}
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 60px;
  }
}
/* end components Section */

/* start header */
.header {
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.header .links .icon span {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  background-color: #333;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links:hover ul {
  display: block;
}
.header .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f6f6f6;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  transition: var(--main-duration);
  display: none;
  z-index: 1;
}
.header .links ul ::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  color: #333;
  text-decoration: none;
  transition: var(--main-duration);
}
.header .links ul li:hover a {
  padding-left: 2rem;
}

/* end header */
/* start landing section */
.landing {
  height: calc(100% - 64px);
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.landing .intro-text h1 {
  font-size: 50px;
  color: var(--main-color);
  margin: 0;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end landing section */

/* start feature section */
.features {
  background-color: var(--section-background);
  padding: var(--section-padding) 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.feat {
  padding: 20px;
  text-align: center;
}
.feat i {
  color: var(--main-color);
}

.feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.feat p {
  font-size: 17px;
  line-height: 1.8;
  color: #777;
}

/* end feature section */
/* start services section */
.services {
  padding: var(--section-padding) 0;
}
.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.services .serv {
  display: flex;
  margin-bottom: 40px;
  min-height: 160px;
}
.services .serv i {
  flex-basis: 60px;
  color: var(--main-color);
}
.services .serv .text {
  flex: 1;
}
.services .serv .text h3 {
  margin: 0;
  margin-bottom: 20px;
}
.services .serv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .services .serv {
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 50%;
  }
}
.services .image {
  position: relative;
  text-align: center;
}
.services .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: calc(100% + 100px);
  width: 100px;
  top: -50px;
  right: 0px;
  z-index: -1;
}
.services .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* end services section */
/* start portflio section */
.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.portfolio .card {
  background-color: white;
}
.portfolio .card .info {
  padding: 20px;
}
.portfolio .card .info h3 {
  margin-top: 0;
}
.portfolio .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
.portfolio .card img {
  width: 100%;
}
/* end portflio section */
/* start about section */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about-content .image {
  position: relative;
  z-index: 0;
  width: 250px;
  height: 375px;
}
.about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about-content .image::after {
  content: "";
  position: absolute;
  top: -40px;
  right: -150px;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
}
@media (max-width: 991px) {
  .about-content .image {
    margin: 0 auto 60px;
  }
  .about-content .image::after,
  .about-content .image::before {
    display: none;
  }
}
.about-content .image img {
  max-width: 100%;
}

.about-content .text {
  width: calc(100% - 500px);
}
.about-content .text p:first-of-type {
  line-height: 2;
  margin-bottom: 50px;
  font-weight: bold;
}
.about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
.about-content hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
@media (max-width: 991px) {
  .about-content .text {
    width: 100%;
  }
}
/* end about section */

/* start contact */
.contact {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.contact .info {
  padding: var(--section-padding) 0;
  text-align: center;
}
.contact .info .label {
  color: var(--secondary-color);
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
}
.contact .info .social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .contact .info .label,
  .contact .info a {
    font-size: 22px;
  }
}
/* end contact */
/* start footer */
.footer {
  padding: 30px;
  color: white;
  background-color: var(--secondary-color);
  text-align: center;
}
.footer p {
  margin: 0;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */
